# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Target
Debug/*

# Eclipse Core
.project

# Eclipse setting folder
.settings/*

# CDT-specific
.cproject

# STL modeling files
*.stl
*.STL
*.cproject
.cproject
*.xml
.settings/org.eclipse.cdt.core.prefs